<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-top:auto;">
  <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
   <a href="https://github.com/sanjaybenu" target="_blank;"><i class="fab fa-github" style="color: #1c2940;padding:2px;"></i></a>
    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #1c2940; padding:2px;margin:2px;"></i></a>
     <a href="https://www.youtube.com/channel/UCA4mc_H-tqG-aK6kElG2sGQ" target="_blank" style="text-decoration:none;"><i class="fa-brands fa-youtube" style="color: #ec0909;padding:2px;margin:2px;"></i></a>
     <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" style="color: #e26f6f;padding:2px;margin:2px;"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #021b45; padding:2px;margin:2px;"></i></a>
  </div>
</nav>