<div class="card mx-auto" style="width: 70%;margin-top:10%" >
  <div class="card-body">
    <h5 class="card-title text-center mb-2"><span style="color:red">&#x26A0;</span> This username is taken or password not valid(must be atleast 8 characters long)</h5></br>

    <p class="card-text">Please use another username or use valid password and try again
    </p>
    <a href="/api/home/register" class="card-link">Go Back</a>
    
</div>
</div>