{{#if loggedIn}}
<div class="card mx-auto" style="width: 70%;margin-top:20%" >
  <div class="card-body">
    <h5 class="card-title text-center mb-2"> Welcome {{username}}</h5></br>

    <p class="card-text">Share your expertise, thoughts or reviews on technology. Be a part of the growing community.
        Click link below to add a blog
    </p>
    <a href="/api/users/addblog" class="card-link">Add a Blog</a>
  </div>
</div>
{{/if}}