<div style="margin-top: 10%" >
<div class="card mx-auto mt-6" style="width: 70%;">
  <div class="card-body text-center">
    <h5 class="card-title">Welcome to the World of Technology</h5>
    <h6 class="card-subtitle mb-2 text-muted">Technology Blogs</h6>
    <p class="card-text">Become a member of the community to read, learn and share your thoughts on technology, innovation and latest technical trends</p>
    <a href="/api/home/login" class="card-link">Login</a>
    <a href="/api/home/register" class="card-link">Register</a>
  </div>
</div>
</div>