{{#if loggedIn}}
<div class="my-6" style="margin-top:auto;">
{{#each blogs}}
<a href="/api/blog/myblogs/{{id}}" style="text-decoration:none; color:black">
<div class="card mx-auto my-4 " style="width: 70%;">
  <h5 class="card-title bg-secondary text-light text-center">{{title}}</h5>
  <div class="card-body">
    
    <p class="card-text">{{description}}</br> <h4>Author</h4></p><p> {{user.f_name}}</p>
  </div>
</div>
</a>
{{/each}}
</div>
{{/if}}