<div style="height:100vh; margin-top: 20%; " >
<div class="mx-auto" style="width: 65%;">

<form action="/api/home/register", method="POST">
  <div class="mb-3">
    <label for="f_name" class="form-label">First Name</label>
    <input type="text" class="form-control" id="f_name" name="f_name" >
   
  </div>

  <div class="mb-3">
    <label for="l_name" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="l_name" name="l_name">
   
  </div>
  
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username">
   
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email">
   
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  
  <button type="submit" class="btn btn-primary">Register</button>
</form>

</div>
</div>