<div class="card mx-auto" style="width: 70%;margin-top:10%" >
  <div class="card-body">
    <h5 class="card-title text-center mb-2"><span style="color:red">&#x26A0;</span> Wrong username or password</h5></br>

    <p class="card-text">Please use correct username or password and try again
    </p>
    <a href="/api/home/login" class="card-link">Go Back</a>
    
</div>
</div>